<!DOCTYPE html>
<html lang="en">
{% load  static %}
{% load bootstrap4 %}
{% block body %}
    <link rel="stylesheet" href="{% static 'styles1.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Delete</title>






</head>
<body>
 <form method="post">

        {% csrf_token %}

        <H3>Are you Sure you want to delete the item  ? {{ item}} </H3>

     <button type="submit" class="btn btn-sm btn-info">Delete</button>
    <a class="btn btn-sm btn-danger"  href="{% url 'home' %}">Cancel</a>

{% endblock %}
</html>